#subscription {
    padding : 40px;
}
#subscription .info{
}

#subscription .info h3{
    font-size: 18px;
}
#subscription .s-options {
    display: flex;
    justify-content: space-between;
    margin-top : 7%;
}
#subscription .s-options .subscription {
    border-radius : 10px;
    border : 1px solid;
    height : 60%;
    width : 25%;
    text-align: left;

}
#subscription .s-options .subscription div.s-banner {

}
#subscription .s-options .subscription div.s-banner img {
    height: 5%;
    width: 100%;
}
#subscription .s-options .subscription .subscription-wrapper {
    padding : 10% 0px 10% 10%;
}
#subscription .s-options .subscription .s-title {
    color : #000;
    font-size: 13px;
    margin: 0px;
}
#subscription .s-options .subscription .s-price {
    font-size: 24px;
    font-weight: 700;
    margin : 0px;
    margin-top : 0.1em;

}
#subscription .s-options .subscription ul.s-features-list {
    margin-top: 3em;
    padding : 0px;
}
#subscription .s-options .subscription ul li {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}
#subscription .s-options .subscription ul.s-features-list li div.s-circle {
    height : 10px;
    width : 10px;
    background-color: #000;
    border-radius : 50%;
    margin-right: 7px;
}
#subscription .s-options .subscription button.s-subscribe-button {
    margin-top: 3em;
    width : 90%;
    padding : 15px 20px;
    border-radius: 25px;
    background: #fff;

}